<div class="contenedor">
  <div style="height: 100%;">
    <div class="encabezado">
        <div class="textoEncabezado">
            <label class="fw-bolder">MIA Proyecto 2</label>
        </div>
        <div class="grupoBotones">
            <div class="btn-group mt-1" role="group">
                <button [disabled]="!disableBtn" (click)="cambiar()" type="button"
                    class="btn btn-sm btn-info toogleButton">Comando</button>
                <button [disabled]="disableBtn" (click)="cambiar()" type="button"
                    class="btn btn-sm btn-info toogleButton">Login</button>
            </div>
        </div>
    </div>
    
    <router-outlet></router-outlet>
</div>
</div>