.botonesEjecutables {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contenedorTextos {
    height: calc(100% - 100px);
}

.textoEntrada {
    height: 45%;
    margin: 0.5rem;
}

.textoSalida {
    height: 45%;
    margin: 0.5rem;
}

.textArea {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}