.contenedor {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    width: 100%;
    text-align: center;
}

.boton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}